<h1>Edit note</h1>

<%= form_for :note, url: notes_path do |f| %>
	<p>
		<%= f.label :title %>
		<%= f.text_field :title %>
	</p>

	<p>
		<%= f.label :text %>
		<%= f.text_area :text %>
	</p>

	<%= f.submit %>
<% end %>