<header>
  <% if user_signed_in? %>
    <div class="ceiling">
      <div id="ceiling-title">
        <p>Hi, Fulano :)</p>
      </div>

      <div id="menu">
        <ul>
          <li><%= link_to 'Your Notes', notes_path %></li>
          <li><%= link_to 'New Note', notes_path %></li>
          <li><%= link_to('Sign out', destroy_user_session_path, :method => :delete) %></li>
        </ul>
      </div>
    </div>
  <% else %>
    <div class="ceiling">
      <div id="ceiling-title">
        <span id="ceiling-title"><%= link_to 'writedown', root_path %></span>
      </div>

      <div id="menu">
        <ul>
          <li><%= link_to 'Sign in', new_user_session_path %></li>
          <li><%= link_to 'Sign up', new_user_registration_path %></li>
        </ul>
      </div>
    </div>
  <% end %>
</header>
